---
# tasks file for postgresql
- name: enable Percona Distribution for PostgreSQL 11.5
  when: percona_postgresql_version.startswith('11.5')
  command:
    cmd: /usr/bin/percona-release enable ppg-11.5
    creates: /etc/yum.repos.d/percona-ppg-11.5-release.repo
- name: enable Percona Distribution for PostgreSQL 11.6 and 11.7
  when: percona_postgresql_version.startswith('11.6') or percona_postgresql_version.startswith('11.7')
  command:
    cmd: /usr/bin/percona-release enable ppg-11
    creates: /etc/yum.repos.d/percona-ppg-11-release.repo
- name: enable Percona Distribution for PostgreSQL 12
  when: percona_postgresql_version.startswith('12.')
  command:
    cmd: /usr/bin/percona-release enable ppg-12
    creates: /etc/yum.repos.d/percona-ppg-12-release.repo
- name: enable Percona Distribution for PostgreSQL 13
  when: percona_postgresql_version.startswith('13')
  command:
    cmd: /usr/bin/percona-release enable ppg-13
    creates: /etc/yum.repos.d/percona-ppg-13-release.repo

- name: Enable local repo.* caching
  include_tasks: common/tasks/repo_cache.yaml

- name: Enable EPEL
  when: >
    'development' in db_features.split(',') and
    (ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux' or ansible_distribution == 'OracleLinux')
  package:
    name: epel-release
    state: present

- name: Enable CentOS Linux Software Collections
  when: >
    'development' in db_features.split(',') and
    (ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux' or ansible_distribution == 'OracleLinux')
  package:
    name: centos-release-scl
    state: present

- name: Postgresql repo
  when: postgresql_version != '' and (ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux' or ansible_distribution == 'OracleLinux')
  yum:
    name: "{{os[dist][soft].repo_url}}"
    state: present

- name: Postgresql repo on el8, disable dnf module postgresql
  when: postgresql_version != '' and dist == 'el8'
  shell:
    warn: false
    cmd: dnf -qy module disable postgresql ; touch /root/dist-postgresql.disabled
    creates: /root/dist-postgresql.disabled

- name: Install db packages
  when: postgresql_version != '' or percona_postgresql_version != ''
  include_tasks: common/tasks/install_db_packages.yml

- name: install Percona Distribution for PostgreSQL
  when: percona_postgresql_version.startswith('11.') or percona_postgresql_version.startswith('12.') or percona_postgresql_version.startswith('13.')
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - "percona-postgresql{{ percona_postgresql_major_ver }}-libs-{{ percona_postgresql_version }}.el7.x86_64"
    - "percona-postgresql{{ percona_postgresql_major_ver }}-{{ percona_postgresql_version }}.el7.x86_64"
    - "percona-postgresql{{ percona_postgresql_major_ver }}-server-{{ percona_postgresql_version }}.el7.x86_64"
    - "percona-postgresql{{ percona_postgresql_major_ver }}-contrib-{{ percona_postgresql_version }}.el7.x86_64"

- name: install pg_stat_monitor for Percona Distribution for PostgreSQL
  when: pmm_client_version != '' and (percona_postgresql_version.startswith('11.') or percona_postgresql_version.startswith('12.') or percona_postgresql_version.startswith('13.') )
  package:
    name: "percona-pg-stat-monitor{{ percona_postgresql_major_ver }}"
    state: present

- name: Install Yandex Odyssey
  when: odyssey_version != ''
  block:
    - name: Install tar
      package:
        name: tar
        state: present
    - name: download and install odyssey
      shell:
        warn: false
        cmd: >-
          curl -L -s https://github.com/yandex/odyssey/releases |
          grep -F {{odyssey_version}}|grep linux-amd64|
          sed -e 's,^.*a href=.,https://github.com,' -e 's,. rel=.nofollow.*$,,' |
          xargs -n 1 curl -s -L --output /tmp/odyssey.tar.gz;
          tar -C /usr/bin/ -xzf /tmp/odyssey.tar.gz;
          rm -rf /tmp/odyssey.tar.gz
        creates: /usr/bin/odyssey

- name: Install WAL-G
  when: walg_version != ''
  block:
    - name: Install tar
      package:
        name: tar
        state: present
    - name: download and install wal-g
      shell:
        warn: false
        cmd: >-
          curl -L -s https://github.com/wal-g/wal-g/releases |
          grep -F {{walg_version}}|grep linux-amd64|
          sed -e 's,^.*a href=.,https://github.com,' -e 's,. rel=.nofollow.*$,,' |
          head -n 1 |
          xargs -n 1 curl -s -L --output /tmp/walg.tar.gz;
          tar -C /usr/bin/ -xzf /tmp/walg.tar.gz;
          rm -rf /tmp/walg.tar.gz
        creates: /usr/bin/wal-g

- name: Postgres Setup tasks
  when: install_only == ''
  include_tasks: setup.yaml
