/* ConnectorTest.java */
/* javac ConnectorTest.java; java -classpath "./:/usr/share/java/mysql-connector-java.jar:/usr/share/java/" ConnectorTest */
import java.sql.Connection;
import java.sql.DriverManager;
import java.sql.PreparedStatement;
import java.sql.ResultSet;
import java.sql.SQLException;
import java.sql.Statement;
import java.util.Date;
 
public class ConnectorTest {
  private Connection connect = null;
  private Statement statement = null;
  private ResultSet resultSet = null;
 
  public void doit() {
    try {
      Class.forName("com.mysql.cj.jdbc.Driver");
      connect = DriverManager.getConnection("jdbc:mysql://{{master_ip}}:3306/information_schema?user={{db_user}}&password={{db_password}}");
      statement = connect.createStatement();
      resultSet = statement.executeQuery("select 1 as col1");
      resultSet.next();
      System.out.println("Hello World! " + resultSet.getString("col1"));
    } catch (SQLException ex) {
      System.out.println("SQLException: " + ex.getMessage());
      System.out.println("SQLState: " + ex.getSQLState());
      System.out.println("VendorError: " + ex.getErrorCode());
    } catch (Exception e) {
      System.out.println("Exception: " + e.toString());
    }
    try {
    if (resultSet != null) {
      resultSet.close();
    }
    if (statement != null) {
      statement.close();
    }
    if (connect != null) {
      connect.close();
    }
    } catch (Exception ex) {
      System.out.println("Exception while cleaning up resources: " + ex.toString());
    }
  }
  public static void main(String[] argsa) {
    System.out.println("Starting...");
    ConnectorTest x = new ConnectorTest();
    System.out.println("x: " + x.toString());
    x.doit();
    System.out.println("Done...");
  }
 
}
