.vagrant/
secret/*.tar.gz
secret/*.pem
secret/*keyfile
lxdock.yml
*ansible_hosts
secret/id_rsa
secret/id_rsa.pub
secret/kube.config
secret/.kube
secret/*kube_config
secret/vault*-client.tar
images-build/*/rc-local.service
images-build/*/rc.local
secret/*-keyfile-docker
Docker/centos7-samba/install_samba_ad.sh
configs/*hosts
.anydbver
.version-info/*
test-run.log
*ssh_config
tools/k3d
tools/k9s
tools/kubectl-*
tools/mc
tools/yq
tools/pt-k8s-debug-collector
*ansible_hosts_run
images-build/*/id_rsa.pub
images-build/*/node_ip.sh
images-build/ansible-anydbver/anydbver.tar.gz
tools/gather.sql
data/
certs/
__pycache__/
go.sum
tools/anydbver
images-build/build-arm.sh
cmd/anydbver/Dockerfile.anydbver.cache
.dev-notes.md
