.vagrant/
secret/*.tar.gz
secret/*.pem
secret/*keyfile
lxdock.yml
ansible_hosts
secret/id_rsa
secret/id_rsa.pub
secret/kube.config
Docker/centos7-samba/install_samba_ad.sh
configs/hosts
.anydbver
.version-info/*
