global
    maxconn 100

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

frontend stats
    mode  http
    bind  *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if LOCALHOST

frontend pgReadWrite
    bind *:5432
    option pgsql-check user primaryuser
    default-server inter 3s fall 3
{% for host in upstream_servers %}
     server pg{{ loop.index }} {{host}}:5432 check port 5432
{% endfor %}

frontend pgReadOnly
    bind *:5433
    option pgsql-check user standbyuser
    default-server inter 3s fall 3
{% for host in upstream_servers %}
     server pg{{ loop.index }} {{host}}:5432 check port 5432
{% endfor %}
