---
# tasks file for user_security
- name: Install symas.com repo for openldap-servers
  when: dist == 'el8' and ldap_server != ''
  get_url:
    url: https://repo.symas.com/configs/SOFL/rhel8/sofl.repo
    dest: /etc/yum.repos.d/sofl.repo

- name: Vault Role
  when: vault_version != ''
  include_role:
    name: vault

- name: Install db packages
  when: ldap_server != '' or kerberos_server != ''
  include_tasks: common/tasks/install_db_packages.yml

- name: Install Samba Active Directory server
  when: samba_ad != '' and (ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux' or ansible_distribution == 'OracleLinux')
  shell:
    cmd: /bin/bash /vagrant/tools/install_samba_ad.sh
    creates: /opt/samba/sbin/samba

- name: User security Setup tasks
  when: install_only == ''
  include_tasks: setup.yaml
