[proxysql_repo]
name= ProxySQL YUM repository
baseurl=https://repo.proxysql.com/ProxySQL/proxysql-{{ proxysql_version|regex_replace('^([0-9]+)\\.([0-9]+)\\..*$','\\1.\\2')}}.x/centos/$releasever
gpgcheck=1
gpgkey=https://repo.proxysql.com/ProxySQL/repo_pub_key
