[mysqld]
innodb_buffer_pool_size=512M
server_id=55
report_host=myhost
wsrep_cluster_name=mycluster
log-bin=mysqld-bin
enforce_gtid_consistency=ON
gtid_mode=ON
# required for 5.6
log-slave-updates

# default cluster name in 5.6 is Cluster, make same as for 5.7
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth=root:secret
