[mysqld]
innodb_buffer_pool_size=512M
server_id=55
report_host=myhost
wsrep_cluster_name=mycluster
gtid_domain_id=51
gtid_strict_mode=1
log-bin=mysqld-bin
# required for 5.6
log-slave-updates

wsrep_on=ON
wsrep_provider=/usr/lib64/galera/libgalera_smm.so
wsrep_sst_method=rsync
binlog_format=ROW

wsrep_cluster_address="gcomm://"
