systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongo/mongos.log
processManagement:
  fork: true
  pidFilePath: /var/run/mongod.pid
sharding:
  configDB: {{ mongos_cfg }}
security:
  keyFile: "/etc/cfg0-keyfile"
net:
  port: 27017
  bindIp: 0.0.0.0
